# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos
# into it.
*.spec
build/
dist/

# Virtual environment
venv/
.venv/
env/
.env/
/site/
.python-version

# Editors/IDEs
.project
.vscode/
.idea/
*.swp
*.bak
*.orig
*.log

# Jupyter Notebook
.ipynb_checkpoints

# MyPy
.mypy_cache/

# pytest
.pytest_cache/

# User-specific files
# Add any other files or directories that are specific to your local setup
# and should not be committed to the repository.


#datasets
datasets/

*.csv
